.team {
  &__container {
    display: grid;
    grid-template-columns: 367px 425px;
    height: 330px;
    grid-gap: 80px;
  }

  &__img {
    background: url(../../images/team.svg) no-repeat center;
    background-size: 415px;
  }

  @media only screen and (min-width: 1440px) {
    &__container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      height: 330px;
      grid-gap: 120px;
    }

    &__img {
      background: url(../../images/team.svg) no-repeat right;
      background-size: 500px;
    }
  }

  &__email {
    border-radius: 5px;
    padding: 15px 20px;
    border: 2px solid #cccccc2b;
    width: 55%;
  }

  &__btn {
    height: 48px;
    width: 20%;
  }
}
