.cards {

    height: 500px;

    &__container {
        display: flex;
        height: 300px;
        margin-top: 17px;
        background: rgba(253, 235, 239, 0.1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-content: space-around;
    }

    &__card {
        display: flex;
        width: 33%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__card:hover {
        display: flex;
        width: 35%;
        height: 100%;;
        flex-direction: column;
        align-items: center;
        position: relative;
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    &__icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-bottom: 28px;
        margin-top: 50px;

    }

    &__donations-image {
        height: 100%;
        width: 100%;
        background: url('../../images/donation.svg' ) no-repeat;
    }

    &__child-image {
        height: 100%;
        width: 100%;
        background: url('../../images/baby-boy.svg') no-repeat;

    }

    &__volunteer-image {
        height: 100%;
        width: 100%;
        background: url('../../images/volunteers.svg') no-repeat;

    }

    &__title {
        margin-bottom: 28px;
        color: rgba(22, 52, 77, 1);
        font-weight: bold;
    }

    &__description {
        text-align: center;
        color: rgba(138, 136, 139, 1);
        width: 55%;
    }

    &__vertical {
        height: 100%;
        width: 1px;
        background: rgba(244, 244, 244, 1);
    }

    &__btn {
        display: flex;
        position: absolute;
        top: 273px;
    }
}